<div class="card">
  <h5 class="card-header">Batiment</h5>
  <!--<button  type="button" class="btn btn-secondary" (click)="getAllBatimentTri()">Tri By Etage</button>
  <button (click)="getAllBatimentTri()">Tri By Etage</button>-->
   <div style="display: flex; justify-content: flex-end; margin-right: 10px">
     <div class="btn-group">
       <button
         type="button"
         class="btn btn-outline-secondary dropdown-toggle"
         data-bs-toggle="dropdown"
         aria-expanded="false"
       >
         Tri
       </button>
       <ul class="dropdown-menu">
         <li><a class="dropdown-item" (click)="getAllBatimentTri()">Tri By Etage</a></li>
         <li><a class="dropdown-item" (click)="getAllBatimentTriByNom()">Tri By Nom</a></li>
       </ul>
     </div>
   </div>

  <div class="table-responsive text-nowrap">
    <table class="table table-striped mt-3">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Address</th>
        <th>NombreDesEtages</th>
      </tr>
      </thead>
      <tbody class="table-border-bottom-0" *ngFor="let batiment of ListBatiment">
      <tr>
        <td>
          <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong> {{batiment.Nom.value}}</strong>
        </td>
        <td>{{batiment.Address.value}}</td>
        <td>{{batiment.NombreDesEtages.value}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
